

/* header */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgb(6 24 38);
}

.logo img {
  border: 5px solid black;
  position: absolute;
  margin-top: 15px;
  margin-left: 15px;
}

.title {
  text-align: center;
}

.title h1 {
  color: white;
}



/*nav bar*/

.nav {
  display: flex;
  justify-content: center;
  align-items:center;
  height: auto;
  margin: auto;
  padding-bottom: 15px;
  padding-top: 15px;
  width: 100%;
  background-color: rgb(49 49 94);
}

.nav .btn {290
  padding: 3px;
  padding-left:5px;
  padding-right: 5px;
  margin: 5px 10px 5px 10px;
  color: white;
  font-weight: bold;
  width: 180px;
  box-shadow: 2px 2px black;
  background:rgb(20 38 52);
}

.nav .btn:hover {
  background-color:
}

.nav .btn:active {
  background-color: rgb(0 18 32);

}

.nav .blank {
  display: none;
}

/* main content*/

.main-content {
  display: flex;
  height: auto;
}



/*left content*/


.left-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  width: 20%;
  background-color: rgb(70 70 70);
}


.left-content {
  heght: 50%;
  height: 30%;
  max-height: 200px;
  margin: 60px 5% 0px 5%;
  background-size: 100%;
}

.left-banner {
  position: absolute;
  background-color: white;
    border-bottom-right-radius: 3px;
}

/*universal content selectors*/

.featured {
  height: 50%;
  background-image: url("./images/bottom-right-content-image.jpg");
  background-size: 100%;
}

.info {
  font-size: 12px;
  color: black;
  text-align: center;
  height: 50%;
  padding: 9px;
  margin: 0px;
  background-color: rgb(49 49 94);
  overflow: scroll;
}

.info:hover {
  color: rgb(200 200 200);
  transition: color 500ms;
  transition-timing-function: color ease-out 500ms;
}

/* center content*/

.center-content {
  display:flex;
  flex-direction: column;
  height: auto;
  width:60%;
  background-color: rgb( 49, 49, 49);
}

#myCarousel {
  margin: 35px 30px 10px 30px;

}

.center-para-content {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  margin-top: 10px;
  margin-bottom: auto;
  width: 90%;
  background: rgb(49 49 94);
  border-radius: 5px;
}

.center-para-content p {
  color: black;
  margin-top: 2px;
  padding: 10px;
}

.center-para-content h3 {
  color: black;
  font-size: 12px;
  margin-top: 1px;
  padding: 0px;
}

.center-para-content h2 {
  color: black;
  margin-bottom: 0px;
}

/*right content*/

.right-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  width: 20%;
  background-color: rgb(70 70 70);
}


.right-content {
  heght: 50%;
  height: 30%;
  max-height: 200px;
  margin: 60px 5% 0px 5%;
  background-size: 100%;
}

.right-banner {
  position: absolute;
  background-color: white;
  border-bottom-right-radius: 3px;
}

/* footer */

.footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: white;
  height: 200px;
  background-color: rgb(6 24 38);
}

.footer p {
  margin-top: 30px;
}


/*responsive media queries*/

@media only screen and (max-width: 1195px) {
  .nav .btn {
    width: 20%;
  }
}

@media only screen and (max-width: 905px){

  .nav .btn {
    width: 290px;
  }

  .left-sidebar {
    width:30%;
  }
  .center-content{
    width: 70%;
  }

  .right-sidebar {
    display:none;
  }
}

@media only screen and (max-width: 615px) {
  .left-sidebar {
    display:none;
  }
  .right-sidebar {
    display:none;
  }
  .center-content {
    width: 100%;
  }
}
